<app-navbar-principal></app-navbar-principal>

<div class="back-button-container">
  <a routerLink="/home" class="text-white text-decoration-none d-flex align-items-center">
    <i class="bi bi-arrow-left me-2 fs-4"></i>
    <span class="fs-5">Volver al inicio</span>
  </a>
</div>

<div class="tickets-section">
  <h2 class="tickets-title">🎟️ Mis Entradas</h2>

  <div *ngIf="tickets.length === 0">
    <p style="color: white; font-size: 1.5rem;">No tienes entradas compradas.</p>
  </div>

  <div *ngFor="let ticket of tickets" class="ticket-card">
    
    <table class="ticket-table">
      <thead>
        <tr>
          <th colspan="2">🎤 Información del Evento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Evento:</td>
          <td>{{ ticket.eventName }}</td>
        </tr>
      </tbody>
    </table>

    <table class="ticket-table">
      <thead>
        <tr>
          <th colspan="2">💳 Detalles de la Compra</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cantidad:</td>
          <td>{{ ticket.cantidad }}</td>
        </tr>
        <tr>
          <td>Precio total:</td>
          <td>€{{ ticket.precioFinal }}</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>
